.oddRow{
	background-color: #EFEFEF;
	padding: 10px 0px 10px 0px;
}
.newsDetail > div{
	display: inline-block;
	margin-right: 10px;
}
.header{
	padding-bottom: 10px;
	background-color: orange;
}
.header> div:first-child{
	font-weight: bold;
}
.header> div,
.header> div > div:last-child{
	display: inline-block;
}
.header> div > div{
	display: inline-block;
	padding: 0px 5px 0px 5px;
	border-left: 1px solid #000000;
}